.form {
  max-width: 1172px;
  width: 100%;
  @include flex(column, center, center, 40px);
  .form__submit {
    max-width: 370px;
    width: 100%;
    height: 48px;
    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;
    @include font(15px, 15px, 600);
  }
  .form__box {
    width: 100%;
    @include flex(row, center, flex-start);
    flex-wrap: wrap;
    gap: 30px;
    @include _screenLaptop {
      @include flex(column, center, center, 30px);
    }
  }
  @include _screenMobile {
    font-size: 16px;
    line-height: 22px;
  }
}

.select {
  position: relative;
  height: 100%;
  max-width: 370px;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: transparent;
  border: none;
  @include flex(column, center, center);
  .select__label {
    position: relative;
    padding: 12px 10px;
    max-width: 370px;
    width: 100%;
    height: 48px;
    border: 1px solid $color-element-light;
    border-radius: 3px;
    background-color: $background-element-light-85;
    padding: 10px;
    @include font(18px, 24px, 400);
    color: $text-mono-dark-second;
    cursor: pointer;
    @include _screenMobile {
      font-size: 16px;
      line-height: 22px;
    }
    &:hover {
      border-color: $color-element-medium;
      transition: border-color 0.3s ease, transform 0.3s ease;
    }
  }
  .select__input {
    height: 100%;
    width: 100%;
    padding-right: 25px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    outline: none;
    border: none;
    background-color: transparent;
    cursor: pointer;
    &::placeholder {
      vertical-align: middle;
      @include font(18px, 24px, 400);
      color: $text-mono-dark-second !important;
      @include _screenMobile {
        font-size: 16px;
        line-height: 22px;
      }
    }
  }
  .select__label_active {
    border: 1px solid $background-element-dark-85;
    border-radius: 0;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    background-color: $background-element-dark-85;
    .select__input {
      color: $text-light;
      &::placeholder {
        color: $text-light !important;
      }
    }
  }
  .select__arrow {
    content: '';
    position: absolute;
    right: 16px;
    top: 39%;
    width: 6.5px;
    height: 6.5px;
    border: solid $color-element-black;
    border-width: 0 1px 1px 0;
    transform: rotate(135deg) scaleY(-1);
    pointer-events: none;
    transition: transform 0.3s ease;
  }
  .select__arrow_active {
    top: 48%;
    transform: rotate(225deg);
    border-color: $color-element-light;
  }
}

.menu {
  position: absolute;
  top: 48px;
  height: 180px;
  max-width: 370px;
  width: 100%;
  padding: 3.34px 4px 3.34px 10px;
  @include flex(column, flex-start, flex-start);
  display: none;
  border-width: 1px;
  border-radius: 3px;
  background-color: $background-element-dark-90;
  border: 1px solid $color-element-dark;
  overflow-y: hidden;
  .menu__wrap {
    height: 180px;
    @include flex(column, flex-start, flex-start);
    width: 100%;
    overflow-y: auto;
    &::-webkit-scrollbar {
      width: 7px;
    }
    &::-webkit-scrollbar-track {
      border-radius: 3px;
      background-color: $color-element-dark;
    }

    &::-webkit-scrollbar-track:hover {
      background-color: $color-element-dark;
    }

    &::-webkit-scrollbar-track:active {
      background-color: $color-element-dark;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 3px;
      background-color: $color-element-medium;
    }
  }
  .menu__item {
    vertical-align: middle;
    @include font(18px, 34px, 400);
    cursor: pointer;
    @include _screenMobile {
      font-size: 16px;
    }
    &:hover {
      color: $color-element-medium;
      animation: colorPulseNav 1s infinite alternate;
    }
    &:active {
      color: $color-element-medium;
    }
  }
}

.form__field {
  position: relative;
  margin: 0;
  padding: 0;
  max-width: 370px;
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: none;
  .form__input {
    position: relative;
    padding: 12px 10px;
    max-width: 370px;
    width: 100%;
    height: 48px;
    border: 1px solid $color-element-light;
    border-radius: 3px;
    background-color: $background-element-light-85;
    padding: 10px;
    @include font(18px, 24px, 400);
    color: $text-mono-dark-second;
    outline: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    @include _screenMobile {
      font-size: 16px;
      line-height: 22px;
    }
    &::placeholder {
      vertical-align: middle;
      @include font(18px, 24px, 400);
      color: $text-mono-dark-second !important;
      @include _screenMobile {
        font-size: 16px;
        line-height: 22px;
      }
    }
    &:hover {
      border-color: $color-element-medium;
      transition: border-color 0.3s ease, transform 0.3s ease;
    }
    &:focus,
    &:active {
      border-color: $color-element-light-active;
      box-shadow: -1px 1px 20px 0px $color-element-light-active;
      transition: box-shadow 0.3s ease, transform 0.3s ease;
    }
  }
}

.range {
  @include flex(column, flex-start, flex-start, 5px);
  border: none;
  margin: 0;
  padding: 0;
  max-width: calc(767 / 1172 * 100%);
  width: 100%;
  @include _screenTablet {
    max-width: 100%;
  }
  .range__label-wrap {
    width: 100%;
    @include flex(row, space-between, center, 15px);

    flex-wrap: wrap;
  }
  .range__label {
    @include font(18px, 22px, 400);
    @include _screenMobile {
      font-size: 16px;
      line-height: 22px;
    }
  }
  .range__display {
    @include font(18px, 22px, 600);
    @include _screenMobile {
      font-size: 16px;
      line-height: 22px;
    }
  }
  .range__input {
    position: relative;
    margin: 15.5px 0;
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 6px;
    background: $background-element-light-70;
    border: 1px solid $color-element-light;
    border-radius: 3px;
    outline: none;
    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      appearance: none;
      width: 23.75px;
      height: 23.75px;
      border-radius: 50%;
      background: $color-circle-step;
      border: 3px solid $color-border-circle-step;
      cursor: pointer;
      &:hover {
        border-color: $color-element-light-hover;
        transition: border-color 0.3s ease, transform 0.3s ease;
      }
      &:focus,
      &:active {
        border-color: $color-element-light-active;
        box-shadow: -1px 1px 20px 0px $color-element-light-active;
        transition: box-shadow 0.3s ease, transform 0.3s ease;
      }
    }
    &::-moz-range-thumb {
      width: 23.75px;
      height: 23.75px;
      border-radius: 50%;
      background: $color-circle-step;
      border: 3px solid $color-border-circle-step;
      cursor: pointer;
      &:hover {
        border-color: $color-element-light-hover;
        transition: border-color 0.3s ease, transform 0.3s ease;
      }
      &:focus,
      &:active {
        border-color: $color-element-light-active;
        box-shadow: -1px 1px 20px 0px $color-element-light-active;
        transition: box-shadow 0.3s ease, transform 0.3s ease;
      }
    }
    &::-ms-thumb {
      width: 23.75px;
      height: 23.75px;
      border-radius: 50%;
      background: $color-circle-step;
      border: 3px solid $color-border-circle-step;
      cursor: pointer;
      &:hover {
        border-color: $color-element-light-hover;
        transition: border-color 0.3s ease, transform 0.3s ease;
      }
      &:focus,
      &:active {
        border-color: $color-element-light-active;
        box-shadow: -1px 1px 20px 0px $color-element-light-active;
        transition: box-shadow 0.3s ease, transform 0.3s ease;
      }
    }
  }
}

.file {
  position: relative;
  max-width: 370px;
  width: 100%;
  margin: 0;
  padding: 0;
  max-height: 48px;
  height: 100%;
  @include flex(column, flex-start, flex-start, 5px);
  border: none;
  vertical-align: middle;
  text-transform: uppercase;
  @include font(15px, 24px, 600, $text-mono-dark-second);
  .file__input {
    display: none;
  }
}

.error-border {
  border: 2px solid $color-input-border-error !important;
  box-shadow: -1px 1px 20px 0px $color-input-border-error;
}
.error {
  position: absolute;
  top: 50px;
  left: 0;
  text-align: left;
  z-index: 8;
  @include font(14px, 14px, 400, $color-text-error);
  line-height: 16.8px;
  text-transform: lowercase;
  &::first-letter {
    text-transform: uppercase;
  }
}
