.landing {
  min-height: 100vh;
  height: auto;
  position: relative;
  margin: 0 auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0;
  background-color: $background-main;
  color: $text-light;
  overflow-x: hidden;
  overflow-y: auto;
  .main {
    display: grid;
    grid-template-rows: 850px 1fr;
    @include _screenLaptop {
      grid-template-rows: 850px 1fr;
    }
    @include _screenTablet {
      grid-template-rows: 650px 1fr;
    }
    @include _screenMobile {
      grid-template-rows: 570px 1fr;
    }
  }
}

.header {
  z-index: 5;
  min-height: 100px;
  width: 100%;
  position: fixed;
  top: 0;
  padding-top: 33.5px;
  padding-bottom: 31.5px;
  @include flex(row, center, center);
  background-color: $background-header;
  .content {
    position: relative;
    max-width: 1210px;
    padding: 0 20px;
    width: 100%;
    @include flex(row, space-between, center);
  }
  .logo {
    @include flex(row, center, center);
    overflow: hidden;
    max-width: 100%;
    text-decoration: none;
    .logo__img {
      max-width: 100%;
      height: auto;
      display: block;
      margin: 0 auto;
    }
  }
  @include _screenTablet {
    min-height: 60px;
    height: 60px;
    padding-top: 27px;
    padding-bottom: 25px;
    .logo {
      max-width: 180px;
      width: 100%;
      z-index: 6;
    }
    .nav {
      max-width: 330px;
    }
  }
}

.nav {
  max-width: 435px;
  width: 100%;
  @include _screenMobile {
    @include flex(row, flex-end, flex-end);
  }
  .nav__list {
    width: 100%;
    list-style-type: none;
    padding: 0;
    margin: 0;
    @include flex(row, space-between, center);
    @include _screenMobile {
      display: none;
    }
  }
  .nav__list_active {
    @include _screenMobile {
      z-index: 1;
      padding: 95px 0 20px 0;
      width: 100vw;
      position: absolute;
      top: -30px;
      left: 0;
      right: 0;
      background-color: $background-header;
      @include flex(column, center, center, 15px);
    }
  }
  .nav__link {
    @include font(13px, 100%, 600);
    text-align: right;
    vertical-align: middle;
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
    &:hover {
      color: $text-medium-hover;
      animation: colorPulseNav 1s infinite alternate;
      @include _screenMobile {
        color: none;
        animation: none;
      }
    }
    &:active {
      color: $text-medium-active;
    }
  }
  .nav__link_active {
    color: $text-medium;
  }
}

.footer {
  max-height: 80px;
  width: 100%;
  padding: 30px 0;
  @include flex(row, center, center);
  background-color: $background-footer;
  .footer__content {
    max-width: 1210px;
    padding: 0 20px;
    width: 100%;
    @include flex(row, flex-start, center, 35.32px);
  }
  .footer__line {
    width: 1px;
    height: 18px;
    background-color: $color-element-mono-light-second;
  }
  .copyright {
    margin-right: 5.01px;
    vertical-align: middle;
    @include font(13px, 20px, 400, $text-light);
    white-space: nowrap;
  }
  .payment {
    @include flex(row, center, center, 38px);
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-left: 10px;
    margin-right: 10px;
    .payment__item {
      @include flex(row, center, center, 10px);
    }
    .payment__text {
      vertical-align: middle;
      @include font(13px, 20px, 400, $text-mono-light-second);
      white-space: nowrap;
    }
  }

  @include _screenLaptop {
    max-height: 100px;
    padding: 20px 0;
    .footer__content {
      justify-content: space-between;
      gap: 10px;
    }
    .contact {
      max-width: 150px;
      @include flex(column, flex-start, flex-start, 8px);
      .contact__link {
        gap: 4px;
      }
    }
    .payment {
      gap: 8px;
      .payment__item {
        gap: 4px;
      }
    }
  }
  @include _screenTablet {
    max-height: 113px;
    padding: 15px 0;
    @include flex(row, center, center);
    .footer__line {
      display: none;
    }
    .footer__content {
      width: fit-content;
      @include flex(column-reverse, center, center, 10px);
    }
    .copyright {
      padding-top: 10px;
      text-align: center;
      border-top: 1px solid $color-element-mono-light-second;
      @include font(11px, 12px, 400, $text-light);
    }
    .contact {
      max-width: fit-content;
      @include flex(row, center, center, 20px);
    }
    .payment {
      @include flex(row, center, center, 20px);
    }
  }
  @include _screenMobile {
    max-height: 174px;
    .contact {
      @include flex(row, center, center, 20px);
      flex-direction: row;
      padding-bottom: 10px;
      border-bottom: 1px solid $color-element-mono-light-second;
    }
    .payment {
      display: grid;
      grid-template: repeat(2, 1fr) / repeat(2, 1fr);
      gap: 10px;
    }
    .payment__item:last-child {
      grid-area: 2/1/3/3;
    }
  }
}

.contact {
  padding: 0;
  margin: 0;
  max-width: 309px;
  width: 100%;
  @include flex(row, space-between, center, 38px);
  list-style-type: none;
  .contact__link {
    text-decoration: none;
    @include flex(row, center, center, 10px);
    transition: background-color 0.3s ease, transform 0.3s ease;
    cursor: pointer;
    &:hover {
      color: $text-medium-hover;
      animation: colorPulseNav 1s infinite alternate;
      transform: scale(1.02);
      @include _screenMobile {
      }
    }
    &:active {
      color: $text-medium-active;
      transform: scale(0.98);
    }
    @include _screenMobile {
      color: none;
      animation: none;
      transform: none;
    }
  }
  .contact__text {
    vertical-align: middle;
    white-space: nowrap;
    @include font(13px, 20px, 400, $text-mono-light-second);
    text-decoration: none;
  }
}

.greeting {
  grid-area: 1/1/2/2;
  height: 100%;
  max-width: 100%;
  padding-top: 203px;
  @include flex(row, center, flex-start);
  background-color: $background-element-light;
  background-image: url('../img/bg.webp');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  .greeting__content {
    max-width: 1170px;
    margin: 0 20px;
    width: 100%;
    @include flex(column, flex-start, flex-start, 80px);
  }
  .greeting__title {
    margin: 0;
    padding: 0;
    min-height: 125px;
    text-transform: uppercase;
    opacity: 0;
    transform: translateX(100px);
    animation: slideIn 3.5s forwards;
    @include font(48px, 120%, 700, $text-medium);
    .greeting__dark {
      color: $text-dark;
    }
  }
  .greeting__buttons {
    width: 100%;
    @include flex(row, flex-start, flex-start, 30px);
    > a {
      width: 183px;
      height: 43px;
      @include font(13px, 100%, 400, $text-mono-dark);
    }
    > a:first-child {
      color: $text-light;
    }
  }
  @include _screenTablet {
    padding-top: 100px;
    .greeting__title {
      max-width: 560px;
      @include font(40px, 120%, 700, $text-medium);
    }
  }
  @include _screenMobile {
    .greeting__content {
      max-width: 85vw;
      gap: 50px;
    }
    .greeting__title {
      font-size: 22px;
      line-height: 26px;
      min-height: fit-content;
    }
    .greeting__buttons {
      flex-direction: column;
      gap: 20px;
    }
  }
}

.advantages {
  @include flex(column, flex-start, flex-start, 10px);
  opacity: 0;
  transform: translateX(100px);
  animation: slideIn 3.5s forwards;
  .advantages__note {
    vertical-align: middle;
    @include font(20px, 24px, 700, $text-dark);
  }
  .advantages__list {
    @include flex(column, flex-start, flex-start, 5px);
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  .advantages__item {
    @include flex(row, center, center, 1px);
    @include font(20px, 24px, 400, $text-dark);
  }
  @include _screenTablet {
    font-size: 20px;
  }
  @include _screenMobile {
    .advantages__note {
      @include font(14px, 16px, 700, $text-dark);
    }
    .advantages__item {
      @include flex(row, center, center, 1px);
      @include font(14px, 16px, 400, $text-dark);
    }
  }
}

.order {
  grid-area: 2/1/3/2;
  padding: 120px 0 150px 0;
  height: fit-content;
  @include flex(column, flex-start, center, 80px);
  background-image: url('../img/bg_2.svg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  .order__content {
    @include flex(column, flex-start, center, 80px);
  }
  @include _screenTablet {
    gap: 50px;
    padding: 80px 0 100px 0;
    .order__content {
      padding: 0 20px;
      @include flex(row, space-between, center, 50px);
    }
  }
  @include _screenMobile {
    .order__content {
      @include flex(column, flex-start, center, 50px);
    }
  }
}

.title {
  @include flex(column, flex-start, center, 30px);
  .title__text {
    vertical-align: middle;
    text-transform: uppercase;
    @include font(36px, 40px, 800);
    .title__dark {
      color: $text-medium;
    }
  }
  .title__subtitle {
    vertical-align: middle;
    text-align: center;
    @include font(18px, 24px, $text-mono-light);
  }
  @include _screenTablet {
    .title__subtitle {
      max-width: 460px;
    }
  }
  @include _screenMobile {
    .title__text {
      @include font(18px, 22px, 800);
    }
    .title__subtitle {
      max-width: 280px;
      width: 100%;
      @include font(15px, 18px, $text-mono-light);
    }
  }
}

.button {
  width: 100%;
  height: 100%;
  padding: 15px 10px;
  @include flex(row, center, center, 10px);
  background-color: $color-element-light;
  border: 1px solid $color-element-mono-medium;
  border-radius: 4px;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  text-decoration: none;
  transition: background-color 0.3s ease, transform 0.3s ease;
  cursor: pointer;
  &:hover {
    background-color: $color-element-light-hover;
    transform: scale(1.025);
  }
  &:active {
    background-color: $color-element-light-active;
    transform: scale(0.975);
  }
  @include _screenTablet {
    &:hover {
      background-color: none;
      transform: none;
    }
  }
}

.button_dark {
  background-color: $color-element-medium;
  border-color: $color-element-light;
  color: $text-light;
  transition: background-color 0.3s ease, transform 0.3s ease;
  &:hover {
    background-color: $color-element-medium-hover;
    transform: scale(1.05);
  }
  &:active {
    background-color: $color-element-medium-active;
    transform: scale(0.95);
  }
}

.button_file {
  border: 2px solid $color-element-medium;
  border-radius: 3px;
}

.burger {
  z-index: 6;
  display: none;
  @include _screenMobile {
    @include flex(column, center, center, 2px);
  }
  .burger__line {
    width: 18px;
    height: 3px;
    background-color: $color-element-light;
  }
  .burger__line_active {
    &:nth-child(1) {
      transform: rotate(45deg) translate(5px, 2.4px);
    }
    &:nth-child(2) {
      opacity: 0;
    }
    &:nth-child(3) {
      transform: rotate(-45deg) translate(5px, -2.4px);
    }
  }
}
