$background-header: #10101de5;
$background-main: #272733;
$background-element-light: #ffffff;
$background-footer: #3d4050;
$background-element-light-85: #ffffffd9;
$background-element-light-70: hsla(0, 0%, 100%, 0.698);
$background-element-dark-85: #3d4050d9;
$background-element-dark-90: #272733e5;

$text-medium: #43abf0;
$text-light: #ffffff;
$text-light-75: #ffffffd9;
$text-dark: #000000;
$text-mono-light: #bbbbbb;
$text-mono-light-second: #c3c3c3;
$text-mono-dark: #2a2b30;
$text-mono-dark-second: #272733;

$color-element-light: #ffffff;
$color-element-mono-medium: #6f6d7b;
$color-element-medium: #3e9cdc;
$color-element-dark: #3d4050;
$color-element-mono-light-second: #c3c3c3;
$color-element-mono-light-third: #c4c4c4;
$color-element-mono-light-fourth: #272733;
$color-element-black: #000000;

$color-circle-step: #3e9cdc;
$color-border-circle-step: #286690;

$font: 'Lato', sans-serif;

$text-medium-hover: #9fdaff;
$text-medium-active: #53b1ef;

$text-dark-pulse: #272733;

$color-element-medium-hover: #1569a1;
$color-element-medium-active: #035992;

$color-element-light-hover: #ccecff;
$color-element-light-active: #9fdaff;

$color-circle-step-flash: #55b1ee;
$color-border-circle-step-flash: #3e9cdc;
